[core]
	editor = vim
[user]
	name = Ayanaksha Upadhyaya
	email = uayanaksha@gmail.com
  signingKey = ~/.ssh/sign.pub
[status]
	showUntrackedFiles = no
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --branches
  stat = status --short --untracked-files --branch
[merge]
	tool = /usr/bin/meld
[diff]
	tool = /usr/bin/meld
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
