alias :q="exit "
alias :x="exit "
alias cdroid="cd /run/user/1000/gvfs/mtp:host=realme_SM8350-IDP__SN%3AFAC71CD6_fac71cd6"
alias egrep='egrep --color=auto'
alias fgrep='fgrep --color=auto'
alias ga="git add "
alias gc="git commit "
alias gp="git push "
alias grep='grep --color=auto'
alias ls="eza"
alias pl="mpv --ytdl-format='bestvideo[height<=1440]+bestaudio/best' "
alias play="cat ~/.misc/op-ed.txt | fzf-tmux | cut -d'|' -f 2 | \
            xargs mpv --profile=fast \
            --ytdl-format='bestvideo[height<=1440]+bestaudio/best'"
alias v="vim -p "
alias perf="powerprofilesctl set performance"
alias balance="powerprofilesctl set balanced"
alias powsave="powerprofilesctl set power-saver"
alias journal='vim "journal_$(date +%Y%m%d-%H%M%S).txt"'

_mz(){
    local path="$(fzf)"
    local type=$(file --mime-type -b "$path" )
    [[ "$type" =~ ^(video|audio)/ ]] && mpv "$path"
}

alias mz=_mz
