* {
    font-family: 'SF Mono', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    font-weight: 700;
    font-size:1rem;
}

#mode,
window#waybar {
    background: rgba(17, 17, 17, 0.8);
    color: whitesmoke;
    text-shadow: 2px 2px 8px grey;
    border-radius: 0.75rem;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar > * {
    margin: 0.1rem 0.5rem;
    padding: 0.1rem 0.5rem;
}

#workspaces button {
    color: snow;
    opacity: 0.4;
}

#scratchpad,
#workspaces button.focused ,
#workspaces button.active {
    color: whitesmoke;
    opacity: 1;
}

#workspaces button.urgent {
    color: #f53c3c;
    opacity: 0.8;
}

#clock,
#cpu,
#battery,
#memory,
#backlight,
#bluetooth,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor
{
    background: transparent;
    color: snow;
    text-shadow: 0.25rem 0.25rem 0.5rem black;
    border-radius: 0.75rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#tray {
    margin: 0 0.25rem;
    padding: 0 0.25rem;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background: #f53c3c;
}

#scratchpad.empty {
	background: transparent;
}

#battery {
    color: skyblue;
    margin-right: 4px;
}

@keyframes critical {
    from { color: #ffd900; }
    to   { color: #ff3c00; }
}

#battery.critical {
    animation: critical 1s alternate-reverse infinite;
}

@keyframes charging {
    from { color: #87cfeb; }
    to   { color: #489a5a; }
}

#battery.charging,
#battery.plugged {
    animation: charging 1s alternate-reverse infinite;
}
